{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Password Reset Complete - MyBank</title>

    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>

<body>

<main class="auth-page">

    <div class="auth-card">

        <div class="auth-logo">
            My<span>Bank</span>
        </div>

        <h1>Password Reset Complete</h1>

        <p class="auth-subtitle">
            Your MyBank password has been successfully reset.
        </p>

        <p class="auth-footer">
            You can now log in using your account number and new password.
        </p>

        <a href="{% url 'login' %}" class="btn auth-button">
            Login to MyBank
        </a>

    </div>

</main>

</body>
</html>